<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.phantom.pregre" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>PrepGRE</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="AutoHideSplashScreen" value="true"/> 
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="500"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="resources/android/drawable-ldpi/ic_launcher.png" density="ldpi"/>
    <icon src="resources/android/drawable-mdpi/ic_launcher.png" density="mdpi"/>
    <icon src="resources/android/drawable-hdpi/ic_launcher.png" density="hdpi"/>
    <icon src="resources/android/drawable-xhdpi/ic_launcher.png" density="xhdpi"/>
    <icon src="resources/android/drawable-xxhdpi/ic_launcher.png" density="xxhdpi"/>
    <icon src="resources/android/drawable-xxxhdpi/ic_launcher.png" density="xxxhdpi"/>
    
  </platform>
</widget>